* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

header {
  background-color: #dbeafe;
  width: 70%;
  height: 60px;
  margin: 0 auto;
}

nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.logo {
  color: #172554;
}

.links {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  list-style: none;
  border-radius: 5px;
}
.link a {
  margin: 10px;
  background-color: #1d4ed8;
  padding: 5px 15px;
  color: #eff6ff;
  text-decoration: none;
  font-size: 1.4rem;
  border-radius: 5px;
}
.link a:hover {
  background-color: #172554;
  color: #eff6ff;
  border: 1px solid #1d4ed8;
}

main {
  height: calc(100vh - 60px);
  width: 70%;
  margin: 0 auto;
  padding: 10px 50px;
  background-color: #eff6ff;
}



.modal-btn-container {
  display: flex;
  justify-content: flex-end;
}
.modal-btn {
  padding:3px;
  font-size: 1.2rem;
  color: #172554;
}

.modal-container {
  height: 400px;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #1d4ed8;
  padding: 30px 20px;
  z-index: 1000;
  animation: show .3s ease-in-out;
}

@keyframes show {
  0%{transform: scale(0);}
  100%{transform: scale(1);}
}

.modal-container-overlay {
  /* content: ""; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.379);
  z-index: 1;
  animation: show .3s ease-in-out;
}


form {
  display: flex;
  flex-direction: column;
}

.form-header {
  display: flex;
  text-align: center;
  margin-bottom: 20px;
}
.form-header h2 {
  flex: 1;
  color: #1d4ed8;
}
.modal-close-btn-container {
  display: flex;
  justify-content: flex-end;
  margin-top: -10px;
}
.modal-close-btn {
  all: unset;
  font-size: 1.2rem;
  color: red;
  border: 1px solid red;
  padding: 0px 5px;
  text-align: center;
  justify-self: center;
}
.modal-close-btn:hover{
  cursor: pointer;
  border: none;
  background-color: #172554;
}

#title, #author, #number-of-pages {
  all: unset;
  padding: 5px 10px;
  background-color: #dbeafe;
  border: 1px solid #172554;
  border-radius: 5px;
  margin-bottom: 10px;
}

.boolean {
  margin-bottom: 10px;
}
.btn {
  all: unset;
  padding: 8px;
  background-color: #1d4ed8;
  text-align: center;
  border-radius: 5px;
  color: #eff6ff;
}
.btn:hover {
  background-color: #172554;
  cursor: pointer;
}